.q2{
    animation: q2 5s linear infinite;
} 

@keyframes q2{
    0%{
        top: 10%;
    }
    100%{
        top: 60%;
    }
}

.st1{
    animation: st1 3s linear infinite;
    animation-direction: alternate-reverse;
}

@keyframes st1{
    0%{
        top: -170%;
        left: 0%;
    }
    50%{
        top: -10%;
        left: 75%;
    }
    100%{
        top: 150%;
        left: 30%;
    }
}

.st2{
    animation: st2 3s linear infinite;
    animation-direction: alternate;
}

@keyframes st2{
    0%{
        top: -170%;
        left: 0%;
    }
    35%{
        top: -80%;
        left: -20%;
    }
    100%{
        top: 150%;
        left: 30%;
    }
}

.st3{
    animation: st3 3s linear infinite;
    animation-direction: alternate;
}

@keyframes st3{
    0%{
        top: -170%;
        left: 0%;
    }
    90%{
        top: 140%;
        left: -50%;
    }
    100%{
        top: 150%;
        left: -40%;
    }
}

.st4{
    animation: st4 3s linear infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.5s;
}

@keyframes st4{
    0%{
        top: -170%;
        left: 0%;
    }
    20%{
        top: -140%;
        left: 0%;
    }
    100%{
        top: 150%;
        left: -60%;
    }
}
.tt {
  animation: strobe-visible 0.3s infinite;
}

.tt2 {
  animation: strobe-hidden 0.3s infinite;
}

@keyframes strobe-visible {
  0%, 49.9% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes strobe-hidden {
  0%, 49.9% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
.bl{
    animation: running-animation 10s linear infinite;
} 
@keyframes running-animation {
    0% {
        transform: translateZ(0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.kisty img{
    width: 100%;
    animation: updown 2.5s ease-in-out infinite alternate;
}

.kisty img:nth-child(even){
    animation-direction: alternate-reverse;
}
@keyframes updown {
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(-40px);
    }
}

.star1 img {
  animation:
    rotate-cw 20s linear infinite,
    glow 3s ease-in-out infinite;
}

@keyframes rotate-cw {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 20px rgba(0, 120, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(0, 120, 255, 0.9));
  }
}

.star2 img {
  animation: rotate-ccw 10s linear infinite, 
  glow-w 3s ease-in-out infinite;
}
@keyframes rotate-ccw {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes glow-w {
  0%, 100% {
    filter: drop-shadow(0 0 20px rgba(0, 120, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(0, 120, 255, 0.9));
  }
}
.imgg {
    opacity: 0; 
    animation: fadeIn 1s ease-in-out 5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tut{
  animation: rotate-cccw 10s linear infinite, 
  glow-s 3s ease-in-out infinite;
}
@keyframes rotate-cccw {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes glow-s {
  0%, 100% {
    filter: drop-shadow(0 0 20px rgba(226, 50, 50, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(255, 38, 0, 0.9));
  }
}