.container{
    max-width: 1680px;
    margin: 0 auto;
    overflow: hidden;
}
.grid{
    display: grid;
    grid-template-columns: 33.3vw 33.3vw 33.3vw;
    overflow: hidden;
    min-height: 580px;
    max-height: 735px;
}
.blyb{
    flex-wrap: wrap;
    display:flex;
    background-color: #0055FF;
    grid-row: span 1;
}
.stroka1{
    background-color: #000000;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    height: 139px;
}

.bly{
    display: flex;
    height: 140px;
}

.bly-st{
    width: 25%;
    height: 140px;
    position: relative;
    top: -170%;
}

.wh{
    color: #000000;
    flex-shrink: 0;
    text-transform: uppercase;
    animation: running-animation 20s linear infinite;
    white-space: nowrap;
}
.orangeb{
    background-color: #FF8500;
    grid-row: span 1;
}

.q1{
    position: relative;
    left: 3%;
}

.q2{
    position: relative;
    left: 43%;
    top: 10%;
}

.q3{
    position: relative;
    left: 24%;
    top: 25%;
}

.q4{
    position: relative;
    top: 24%;
    left: 10%;
}

.redb{
    display:flex;
    height: 735px;
    grid-row: span 1;
    overflow: hidden;
    background-color: #ffffff;
}

.red {
  position: relative;
  width: 560px;
  height: 256px;
}

.red img {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
  height: 586px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.stroka2{
    display: flex;
    margin: 0 auto;
    height: 150px;
    position: relative;
    top: 80%;
}

.bl{
    flex-shrink: 0;
    text-transform: uppercase;
    white-space: nowrap;
} 

.tiger{
    background-image: url(..//images/supertig1.svg);
    background-size: 100%;
    max-width: 1680px;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 790px;
    position: relative;
}
.imgg{
    width: 1250px;
    position: absolute;
    left: 47%;
    bottom: 12%;
    transform: translateX(-50%);
}
.podval{
    display:flex;
    background-color: #ffffff;
    color: #000000;
    height: 256px;
    justify-content: space-between;
    align-items: flex-end;
    width: 1680px;
    padding: 0 20px;
}
.logohse{
    background-image: url(..//images/logohse1.svg);
    width: 488px;
    height: 174px;
    margin-bottom: 35px;
}
.logomine{
    background-image: url(..//images/logome1.svg);
    width: 366px;
    height: 177px;
    margin-bottom: 35px;
}
p{
    margin-bottom: 35px;
    margin-right: 50px;
}
.klaksa{
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
.kisty{
    display: flex;
    align-items: flex-start;
    background:#EB352C;
    height: 399px;
    overflow: hidden;
    width: 1680px;
    justify-content: center;
}

.kist11{
    position: relative;
    left: 115%;
}

.kist12{
    position: relative;
    left: 5%;
}

.kist13{
    position: relative;
    left: -5%;
}

.kist14{
    position: relative;
    left: -115%;
}


.star{
    height: 900px;
}

.stroka3{
    background-color: #EB352C;
    color: #ffffff;
    display: flex;
    width: 1680px;
    min-width: 1280px;
    margin-top: -500px;
    margin-bottom: 500px;
    overflow: hidden;
    height: fit-content;
    z-index: 1;
}
.gg{
    flex-shrink: 0;
    text-transform: uppercase;
    animation: running-animation 20s linear infinite;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.star1,
.star2 {
  position: relative;
  width: 1680px;
  height: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(..//images/lastbg.svg);
  z-index: -2;
}
.star1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.star2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.tut{
    width: 332px;
    height: 321px;
    position: absolute;
    top: 40%;      
    left: 90%;
    z-index: 1;
    pointer-events: none;
}

