.container{
    max-width: 1680px;
    margin: 0 auto;
    cursor: url(..//images/cursor.png), auto;
}
.grid{
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    min-height: 580px;
    max-height: 735px;
}
.blyb{
    display:flex;
    background-color: #0055FF;
}
.stroka1{
    background-color: #000000;
    display: flex;
    width: 561px;
    min-width: 426px;
    margin: 0 auto;
    overflow: hidden;
    height: 139px;
}
.stroka2{
    background-color: #ffffff;
    display: flex;
    width: 561px;
    min-width: 426px;
    margin: 0 auto;
    overflow: hidden;
    height: 139px;
}
.wh{
    color: #000000;
    flex-shrink: 0;
    text-transform: uppercase;
    animation: running-animation 20s linear infinite;
    white-space: nowrap;
}
.orangeb{
    background-color: #FF8500;
    width: 561px;
}
.redb{
    display:flex;
    height: 735px;
    width: 561px;
    background-color: #EB352C;
    overflow: hidden;
}
.red{
    height: 585px;
}
.bl{
    flex-shrink: 0;
    text-transform: uppercase;
    animation: running-animation 10s linear infinite;
    white-space: nowrap;
} 
@keyframes running-animation {
    0% {
        transform: translateZ(0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
.tiger{
    background-image: url(..//images/supertig1.svg);
    width: 1680px;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 790px;
    position: relative;
}
.img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.podval{
    display:flex;
    background-color: #ffffff;
    color: #000000;
    height: 256px;
    justify-content: space-between;
    align-items: flex-end;
    width: 1680px;
}
.logohse{
    background-image: url(..//images/logohse1.svg);
    width: 488px;
    height: 174px;
    margin-bottom: 35px;
    margin-left: 50px;
}
.logomine{
    background-image: url(..//images/logome1.svg);
    width: 366px;
    height: 177px;
    margin-bottom: 35px;
}
p{
    margin-bottom: 35px;
    margin-right: 50px;
}
.klaksa{
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
.kisty{
    display: flex;
    align-items: flex-end;
    background:#EB352C;
    height: 399px;
    overflow: hidden;
    width: 1680px;
    justify-content: center;
}
.kisty img{
    height: 100%;
    animation: updown 2.5s ease-in-out infinite alternate;
}
.kisty img:nth-child(even){
    animation-direction: alternate-reverse;
}
@keyframes updown {
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(-40px);
    }
}
.stroka3{
    background-color: #EB352C;
    color: #ffffff;
    display: flex;
    width: 1680px;
    min-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    height: fit-content;
}
.gg{
    flex-shrink: 0;
    text-transform: uppercase;
    animation: running-animation 20s linear infinite;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.star1,
.star2 {
  position: relative;
  width: 1680px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.star1{
    background-image: url(..//images/bgstar11.svg) center / cover no-repeat;
    
}
.star1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: auto;
  transform: translate(-50%, -50%);
  animation:
    rotate-cw 20s linear infinite,
    glow 3s ease-in-out infinite;
}
@keyframes rotate-cw {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 20px rgba(0, 120, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(0, 120, 255, 0.9));
  }
}
.star2{
    background-image: url(..//images/bgstar12.svg) center / cover no-repeat;
}
.star2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: auto;
  transform: translate(-50%, -50%);
  animation: rotate-ccw 10s linear infinite, 
  glow-w 3s ease-in-out infinite;
}
@keyframes rotate-ccw {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes glow-w {
  0%, 100% {
    filter: drop-shadow(0 0 20px rgba(0, 120, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(0, 120, 255, 0.9));
  }
}
